* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    max-width: 100%;
}

.wrraper {
    width: 1200px;
    margin: 0px auto;
}

header {
    height: 100px;
    background: #019ce0;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    display: flex;
    height: 30px;
    font-size: 16px;
    background: #152a4d;
    display: flex;
    align-items: center;
    justify-content: left;
}

nav li {
    list-style: none;
    margin: 0px 20px;
}

nav li a {
    text-decoration: none;
    color: #fff;
}

nav li a:hover {
    text-decoration: underline;
}

.banner {
    height: 250px;
    background-image: url(img/7cc2ad0ebf35126b4b24.jpg);
    background-size: 100% 100%;
}







.content-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    font-size: 24px;
    color: #34431a;
    font-weight: bold;
}

.card-gird {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.card {
    border: 1px solid gray;
}

.card-title {
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0px 0px 0px;
}

.card-thumb {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.card-price-delete {
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0px 0px 0px;
}

.card-price {
    font-size: 20px;
    font-weight: bold;
    margin: 0px 0px 20px 0px;
    color: rgb(169, 0, 0);
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.news {
    border: 1px solid gray;
    
    width: 100%;
    
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.card-news {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.newsr {
    margin: 40px;
}

.newsl {
    margin: 20px;
}

.newsl-title {
    font-size: 24px;
    font-weight: bold;
    color: rgb(174, 1, 1);
}

.newsl-sub {
    margin-top: 20px;
    font-size: 18px;
}

.news-title {
    margin: 20px 0px 0px 0px;
    font-size: 24px;
    font-weight: bold;
    color: #34431a;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    height: 50px;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #152a4d;
    max-width: 100%;
}
@media (max-width: 768px) {
    .news {
        width: calc(100% - 22px); /* Điều chỉnh chiều rộng cho màn hình nhỏ */
        padding: 10px; /* Thêm padding để tạo khoảng cách với biên */
    }

    .card-news {
        grid-template-columns: 1fr; /* Hiển thị chỉ một cột trên màn hình nhỏ */
    }

    .newsr {
        margin: 20px; /* Điều chỉnh margin cho newsr */
    }

    .newsl {
        margin: 10px; /* Điều chỉnh margin cho newsl */
    }

    .newsl-title {
        font-size: 20px; /* Điều chỉnh font size cho newsl-title */
    }

    .newsl-sub {
        font-size: 16px; /* Điều chỉnh font size cho newsl-sub */
    }

    .news-title {
        font-size: 20px; /* Điều chỉnh font size cho news-title */
    }
}




